In [56]:
import pandas as pd
sf = pd.read_csv('baseballdata_table.csv')
sf.head()

,oteam_name,year,lg,w,l,t,w_l,playoffs,att,cteam_name,team,venue,address,city,lat,lng
0,Boston Red Stockings,1876,NL,39,31,0,0.557,NaN,NaN,Atlanta Braves,Atlanta Braves,SunTrust Park,"P.O. Box 4064, Atlanta, GA. 30302",Atlanta,33.74691,-84.391235
1,Boston Red Stockings,1877,NL,42,18,1,0.700,NaN,NaN,Atlanta Braves,Atlanta Braves,SunTrust Park,"P.O. Box 4064, Atlanta, GA. 30302",Atlanta,33.74691,-84.391235
2,Boston Red Stockings,1878,NL,41,19,0,0.683,NaN,NaN,Atlanta Braves,Atlanta Braves,SunTrust Park,"P.O. Box 4064, Atlanta, GA. 30302",Atlanta,33.74691,-84.391235
3,Boston Red Stockings,1879,NL,54,30,0,0.643,NaN,NaN,Atlanta Braves,Atlanta Braves,SunTrust Park,"P.O. Box 4064, Atlanta, GA. 30302",Atlanta,33.74691,-84.391235
4,Boston Red Stockings,1880,NL,40,44,2,0.476,NaN,NaN,Atlanta Braves,Atlanta Braves,SunTrust Park,"P.O. Box 4064, Atlanta, GA. 30302",Atlanta,33.74691,-84.391235

In [57]:
sf = sf[sf['year'] > 1999]
sf.head()

,oteam_name,year,lg,w,l,t,w_l,playoffs,att,cteam_name,team,venue,address,city,lat,lng
124,Atlanta Braves,2000,NL East,95,67,0,0.586,Lost LDS (3-0),3234304.0,Atlanta Braves,Atlanta Braves,SunTrust Park,"P.O. Box 4064, Atlanta, GA. 30302",Atlanta,33.74691,-84.391235
125,Atlanta Braves,2001,NL East,88,74,0,0.543,Lost NLCS (4-1),2823530.0,Atlanta Braves,Atlanta Braves,SunTrust Park,"P.O. Box 4064, Atlanta, GA. 30302",Atlanta,33.74691,-84.391235
126,Atlanta Braves,2002,NL East,101,59,1,0.631,Lost LDS (3-2),2603484.0,Atlanta Braves,Atlanta Braves,SunTrust Park,"P.O. Box 4064, Atlanta, GA. 30302",Atlanta,33.74691,-84.391235
127,Atlanta Braves,2003,NL East,101,61,0,0.623,Lost LDS (3-2),2401084.0,Atlanta Braves,Atlanta Braves,SunTrust Park,"P.O. Box 4064, Atlanta, GA. 30302",Atlanta,33.74691,-84.391235
128,Atlanta Braves,2004,NL East,96,66,0,0.593,Lost LDS (3-2),2327565.0,Atlanta Braves,Atlanta Braves,SunTrust Park,"P.O. Box 4064, Atlanta, GA. 30302",Atlanta,33.74691,-84.391235

sf = sf.str.strip()

In [58]:
sf.describe()

,year,w,l,t,w_l,att,lat,lng
count,493.000000,493.000000,493.000000,493.000000,493.000000,4.930000e+02,493.000000,493.000000
mean,2008.000000,81.042596,80.884381,0.024341,0.500499,2.456482e+06,38.348273,-91.808223
std,4.903956,11.343142,11.330440,0.154261,0.070006,6.936493e+05,5.031280,16.294051
min,2000.000000,43.000000,46.000000,0.000000,0.265000,6.427450e+05,25.954428,-122.389755
25%,2004.000000,72.000000,72.000000,0.000000,0.444000,1.917004e+06,34.072437,-97.081116
50%,2008.000000,82.000000,80.000000,0.000000,0.506000,2.438617e+06,39.285244,-87.635086
75%,2012.000000,90.000000,90.000000,0.000000,0.556000,3.017966e+06,41.830883,-80.008930
max,2016.000000,116.000000,119.000000,1.000000,0.716000,4.298655e+06,47.601740,-71.098816

In [59]:
corr_matrix = sf.corr()
corr_matrix["att"].sort_values(ascending=False)

att     1.000000
w       0.485567
w_l     0.484787
lat     0.157148
year    0.061799
t       0.057730
lng    -0.158652
l      -0.484374
Name: att, dtype: float64

In [60]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize=(10,10))
corr = sf.corr().as_data_frame()
corr.index = sf.columns
sns.heatmap(corr, annot = True, cmap='RdYlGn', vmin=-1, vmax=1)
plt.title("Correlation Heatmap", fontsize=16)
plt.show()

AttributeError: 'DataFrame' object has no attribute 'as_data_frame'